@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url(img/paris/paris.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body:before {
  content: "";
  width: 100%;
  height: 550%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(black), to(white));
  background: linear-gradient(90deg, black, white);
  opacity: 0.4;
  z-index: -1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #555;
  color: white;
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo {
  margin: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boton1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  width: 1000px;
  border-radius: 20px;
  background-color: #fa991a;
  color: white;
  font-size: 30px;
}

.promociones {
  color: white;
  font-size: 36px;
}

.centered-elements {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.btn {
  position: relative;
  display: block;
  height: 77px;
  width: 300px;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  font-size: 20px;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  border: 4px solid #fa991a;
  margin-bottom: 40px;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #fa991a;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: -1;
}

.btn--1::before {
  width: 0;
  height: 100%;
}

.btn--1:hover {
  color: #434343;
}

.btn--1:hover::before {
  width: 100%;
}

@-webkit-keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
            box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
  }
  100% {
    -webkit-box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
            box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
  }
}

@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
            box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
  }
  100% {
    -webkit-box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
            box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
  }
}

#promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#viajes {
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  display: -ms-grid;
  display: grid;
  color: white;
  grid-auto-rows: 300px;
  grid-gap: 10px;
}

#viajes div {
  padding: 1%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #fa991a;
  border-radius: 70px;
}

#viajes div h2 {
  margin-left: 20px;
  font-size: 30px;
  margin-top: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(black));
  background: linear-gradient(rgba(255, 255, 255, 0), black);
}

#viajes div b {
  margin-left: 20px;
  font-size: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(black));
  background: linear-gradient(rgba(255, 255, 255, 0), black);
}

#viajes div button {
  margin-top: 120px;
  padding: 10px;
  font-size: 18px;
  border-radius: 25px;
}

#viajes .imagenes {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dolar {
  margin: 20%;
  color: white;
  font-size: 30px;
}

footer p {
  margin: 100px;
  font-size: 24px;
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=estilos.css.map */